.dashboard-main {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    flex: 1;
    margin: 0;
    gap: 0;
    padding: 0;
}

.dashboard-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
    margin-left: 250px;
    row-gap: 20px;
    padding: 16px 32px;
}

@media (min-width: 480px) {
    .dashboard-section {
        row-gap: 28px;
        padding: 32px 40px;
    }
}

@media (min-width: 768px) {
    .dashboard-section {
        row-gap: 35px;
        padding: 20px;
    }
}

@media (min-width: 1024px) {
    .dashboard-section {
        padding: 50px;
    }
}

/* Stat row */
.stat-row {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 12px;
    width: 100%;
}

@media (min-width: 768px) {
    .stat-row {
        grid-template-columns: repeat(4, 1fr);
        gap: 35px;
    }
}

.stat-card {
    min-height: 90px;
    background-color: var(--card-bg);
    border: 1px solid var(--card-border);
    padding: 16px;
    display: flex;
    flex-direction: column;
    gap: 25px;
}

/* Analytics row */
.analytics-row {
    display: grid;
    grid-template-columns: 1fr;
    gap: 12px;
    width: 100%;
}

@media (min-width: 768px) {
    .analytics-row {
        grid-template-columns: 1fr 1fr;
        gap: 35px;
    }
}

.analytics-card {
    min-height: 200px;
    background-color: var(--card-bg);
    border: 1px solid var(--card-border);
    padding: 16px;
}

/* History card */
.history-card {
    width: 100%;
    min-height: 280px;
    background-color: var(--card-bg);
    border: 1px solid var(--card-border);
    padding: 16px;
}

@media (min-width: 480px) {

    .stat-card,
    .analytics-card,
    .history-card {
        padding: 20px;
    }
}

@media (min-width: 768px) {

    .stat-card,
    .analytics-card,
    .history-card {
        padding: 22px;
    }
}

@media (min-width: 1024px) {

    .stat-card,
    .analytics-card,
    .history-card {
        padding: 25px;
    }
}